<div class="col-3">
  <div class="border border-dark">
    <p class="border-bottom border-dark text-center">ジャンル検索</p>
    <div>
        <!-- ジャンル登録出来たら
        <ul class="list-unstyled">
          <%# @genres.each do |genre| %>
            <li class="my-2 ml-4"><%#= genre.name %></li>
          <%# end %>
        </ul>-->
        <ul class="list-unstyled">
          <li class="my-2 ml-4">ケーキ</li>
          <li class="my-2 ml-4">焼き菓子</li>
          <li class="my-2 ml-4">プリン</li>
          <li class="my-2 ml-4">キャンディ</li>
        </ul>
    </div>
  </div>
</div>